<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ICE Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <img class="centeredImg" src="~/Content/Images/windesheim.png" alt="Windesheim" />
        <div class="masthead">
            <ul class="nav nav-justified">
                <li class="navLi">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li class="navLi">@Html.ActionLink("Broadcasts", "Index", "Broadcasts")</li>
                <li class="navLi">@Html.ActionLink("Buildings", "Index", "Buildings")</li>
                <li class="navLi">@Html.ActionLink("Emergency Types", "Index", "Emergencies")</li>
                <li class="navLi">@Html.ActionLink("Messages", "Index", "Messages")</li>
                <li class="navLi">@Html.ActionLink("Settings", "Settings", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="mainFooter">
        <div>
            <div class="divLeft">
                &copy; @DateTime.Now.Year - ICE Application Windesheim University
            </div>

            <div class="divRight">
                @Html.ActionLink("IT-Support", "Contact", "Home") - @Html.ActionLink("About", "About", "Home")
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
