<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ICE Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <img class="centeredImg" src="~/Content/Images/windesheim.png" alt="Windesheim" />
        <div class="masthead">
            <ul class="nav nav-justified">
                <li class="navLi">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li class="navLi">@Html.ActionLink("Broadcasts", "Index", "Broadcasts")</li>
                <li class="navLi">@Html.ActionLink("Buildings", "Index", "Buildings")</li>
                <li class="navLi">@Html.ActionLink("Emergencies", "Index", "Emergencies")</li>
                <li class="navLi">@Html.ActionLink("Messages", "Index", "PredefinedMessages")</li>
                <li class="navLi">@Html.ActionLink("Settings", "Index", "Settings")</li>
                <li class="navLi"><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <footer class="mainFooter">
        <div>
            <div class="divLeft">
                &copy; @DateTime.Now.Year - ICE Application Windesheim University
            </div>

            <div class="divRight">
                @Html.ActionLink("IT-Support", "Contact", "Home") - @Html.ActionLink("About", "About", "Home")
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/table")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function () {
        $('#broadcasts').dataTable({
            "columns": [
              { "width": "10%" },
              { "width": "45%" },
              { "width": "20%" },
              { "width": "15%" },
              { "width": "10%" }
            ],
            bFilter: false, bInfo: false
        });
        $('#overview').dataTable({ bFilter: false, bInfo: false });
        $('#devices').dataTable({
            "columns": [
              { "width": "10%" },
              { "width": "60%" },
              { "width": "15%" },
              { "width": "15%" }
            ],
             bFilter: false, bInfo: false
        });
    });
    </script>
</body>
</html>
