@model ICE_Server.Models.Broadcast

@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Broadcast overview", "Index", "Broadcasts")</li>
        <li>Delete broadcast</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Are you sure you want to delete this item?</h3>
            </div>
            <table class="table">
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ID)</strong></td>
                    <td>@Html.DisplayFor(model => model.ID)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Message)</strong></td>
                    <td>@Html.DisplayFor(model => model.Message)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Time)</strong></td>
                    <td>@Html.DisplayFor(model => model.Time)</td>
                </tr>
            </table>
            <div class="panel-footer rightText">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="button" value="Go back" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Broadcasts")'" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
</div>