@model ICE_Webserver.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>Dashboard</li>
    </ol>
</div>


<!-- PANELS -->

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome Swampy Swamp</h3>
            </div>
            <div class="panel-body">
                It has been 8 hours since your last login. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Application overview</h3>
            </div>
            <table class="table">
                <tr>
                    <th width="70%">Type</th>
                    <th width="30%">Stats</th>
                </tr>
                <tr>
                    <td>Broadcasts</td>
                    <td>@Html.DisplayFor(model => model.BroadcastCount)</td>
                </tr>
                <tr>
                    <td>Buildings</td>
                    <td>@Html.DisplayFor(model => model.BuildingCount)</td>
                </tr>
                <tr>
                    <td>Emergencies</td>
                    <td>@Html.DisplayFor(model => model.EmergenciesCount)</td>
                </tr>
                <tr>
                    <td>Devices</td>
                    <td>@Html.DisplayFor(model => model.DevicesCount)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Broadcast Overview-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Past broadcasts</div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th width="60%">Message</th>
                    <th width="20%">Emergency</th>
                    <th width="20%">Date</th>
                </tr>
                @foreach (var item in Model.Broadcasts)
                {
                    <tr>
                        <td>@item.Message</td>
                        <td>@item.EmergencyId</td>
                        <td>@item.Time</td>
                    </tr>
                }
                
            </table>
        </div>
    </div>
</div>