@model ICE_Webserver.ViewModels.BroadcastViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Broadcast overview", "Index", "Broadcasts")</li>
        <li>Broadcast details</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Broadcast details</h3>
            </div>
            <table class="table">
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ID)</strong></td>
                    <td>@Html.DisplayFor(model => model.ID)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Message)</strong></td>
                    <td>@Html.DisplayFor(model => model.Message)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Time)</strong></td>
                    <td>@Html.DisplayFor(model => model.Time)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.EmergencyName)</strong></td>
                    <td>@Html.DisplayFor(model => model.EmergencyName)</td>
                </tr>
                <tr>
                    <td><strong>Buildings</strong></td>
                    <td>
                        @if (Model.Buildings != null)
                        {
                            foreach (var item in Model.Buildings)
                            {
                                @item.Name
                                @Html.Raw(", ")
                            }
                        }
                    </td>
                </tr>

            </table>
            <div class="panel-footer rightText">
                <input type="button" value="Go back" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Broadcasts")'" />
                <input type="button" value="Remove broadcast" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Broadcasts", new { id = Model.ID })'" />
            </div>
        </div>
    </div>
</div>