@model ICE_Server.Models.Broadcast

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Broadcast overview", "Index", "Broadcasts")</li>
        <li>Edit Broadcast</li>
    </ol>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit broadcast</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EmergencyId, "EmergencyId", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("EmergencyId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EmergencyId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer rightText">
                    <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Broadcasts")'" />
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
  $(function () {
    $('.datepicker').datetimepicker({
      defaultDate: '@Model.Time',
      format: 'dd/MM/yyyy hh:mm:ss',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top'
    });
  });
    </script>
}
