@model IEnumerable<ICE_Server.Models.Broadcast>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary ">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>Broadcast overview</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">All broadcasts</h3>
            </div>
            <div class="panel-body">
                <table class="table" id="broadcasts">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Time)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td class="rightText">
                                    <a href="@Url.Action("Details", "Broadcasts", new { id = item.ID })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="@Url.Action("Delete", "Broadcasts", new { id = item.ID })"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    }
                    
                </table>
            </div>
            <div class="panel-footer rightText">
                <input type="button" value="Create new broadcast" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Broadcasts")'" />
            </div>
        </div>
    </div>
</div>
